<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Somya Namdeo</title>

    <!-- box icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
    
    <!-- custom css -->
    
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
</head>
<body>
    
    
    <!-- header design -->
    <header class="header">
       <a href="#" class="logo">SN.</a>
       <i class='bx bx-menu' id="menu-icon"></i>

       <nav class="navbar">
           <a href="#home" class="active">Home</a>
           <a href="#about">About</a>
           <a href="#services">Services</a>
           <a href="#portfolio">Portfolio</a>
           <a href="#contact">Contact</a>
       </nav>
    </header>

    <!--home section design  -->
    <section class="home" id="home">
        <div class="home-content">
            <h3>Hello, It's Me</h3>
            <h1>Somya Namdeo</h1>
            <h3>And I'm a <span class="multiple-text"></span></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas deleniti, animi autem perspiciatis ex fugit aspernatur voluptate, hic.</p>
            <div class="social-media">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-instagram-alt' ></i></a>
                <a href="#"><i class='bx bxl-linkedin' ></i></a>
            </div>
            <a href="#" class="btn">Download CV</a>
        </div>

        <div class="home-img">
            <img src="{% static '/images/som.png' %}" alt="">
        </div>
    </section>

    <!-- about section -->
    <section class="about" id="about">
        <div class="about-img">     
            <img src="{% static '/images/som2.png' %}" alt="">
        </div>
            

        <div class="about-content">
            <h2 class="heading">About <span>Me</span></h2>
            <h3>Frontend Developer</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex deleniti debitis quae odio aspernatur natus nihil porro eveniet! Odio quasi voluptatum unde eveniet iure in doloribus animi officia excepturi quas veniam ad ratione quisquam, dignissimos doloremque saepe, repellendus accusantium necessitatibus temporibus? Perspiciatis voluptas a aspernatur aliquid.</p>
            <a href="#" class="btn">Read More</a>
        </div>    
    </section>

    <!-- services section design -->
    <section class="services" id="services">
        <h2 class="heading">Our <span>Services</span></h2>

        <div class="services-container">
            <div class="services-box">
                <i class='bx bx-code-alt'></i>
                <h3>Web Develeopment</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, labore cumque quidem quam est assumenda inventore ea! Minima, voluptatem quo.</p>
                <a href="#" class="btn">Read More</a>
            </div>

            <div class="services-box">
                <i class='bx bxs-paint'></i>
                <h3>Graphic Design</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, labore cumque quidem quam est assumenda inventore ea! Minima, voluptatem quo.</p>
                <a href="#" class="btn">Read More</a>
            </div>

            <div class="services-box">
                <i class='bx bx-bar-chart-alt'></i>
                <h3>Data Analyst</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, labore cumque quidem quam est assumenda inventore ea! Minima, voluptatem quo.</p>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>
    </section>

    <!-- portfolio section -->
    <section class="portfolio" id="portfolio">
        <h2 class="heading">Latest <span>Project</span></h2>
        
        <div class="portfolio-container">
            <div class="portfolio-box">
                <img src="{% static '/images/image9.jpg' %}" alt="">
                <div class="portfolio-layer">
                    <h4>Wireframe</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis harum iste error quidem architecto minima, esse recusandae cum omnis amet?</p>
                    <a href="#"><i class='bx bx-link-external'></i></a>
                </div>
            </div>

            <div class="portfolio-box">
                <img src="{% static '/images/image7.jpg' %}" alt="">
                <div class="portfolio-layer">
                    <h4>Frontend Project</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis harum iste error quidem architecto minima, esse recusandae cum omnis amet?</p>
                    <a href="#"><i class='bx bx-link-external'></i></a>
                </div>
            </div>

            <div class="portfolio-box">
                <img src="{% static '/images/image8.jpg' %}" alt="">
                <div class="portfolio-layer">
                    <h4>Web Design</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis harum iste error quidem architecto minima, esse recusandae cum omnis amet?</p>
                    <a href="#"><i class='bx bx-link-external'></i></a>
                </div>
            </div>

            <div class="portfolio-box">
                <img src="{% static '/images/image11.jpg' %}" alt="">
                <div class="portfolio-layer">
                    <h4>Data Analysis</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis harum iste error quidem architecto minima, esse recusandae cum omnis amet?</p>
                    <a href="#"><i class='bx bx-link-external'></i></a>
                </div>
            </div>

            <div class="portfolio-box">
                <img src="{% static '/images/image4.jpg' %}" alt="">
                <div class="portfolio-layer">
                    <h4>Website Design</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis harum iste error quidem architecto minima, esse recusandae cum omnis amet?</p>
                    <a href="#"><i class='bx bx-link-external'></i></a>
                </div>
            </div>

            <div class="portfolio-box">
                <img src="{% static '/images/image6.jpg' %}" alt="">
                <div class="portfolio-layer">
                    <h4>Testing</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis harum iste error quidem architecto minima, esse recusandae cum omnis amet?</p>
                    <a href="#"><i class='bx bx-link-external'></i></a>
                </div>
            </div>

        </div>
    </section>

    <!-- contact section -->
    <section class="contact" id="contact">
        
        <h2 class="heading">Contact <span>Me!</span></h2>

        <form action="#" method="post">
            {% csrf_token %}
            <div class="input-box">
                <input type="text" placeholder="Full Name" name="full_name">
                <input type="email" placeholder="Email Address" name="email">
            </div>
            <div class="input-box">
                <input type="number" placeholder="Mobile Number" name="mob_number">
                <input type="text" placeholder="Email subject" name="email_subject">
            </div>
            <textarea name="message" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <input type="submit" value="Send Message" class="btn">
        </form>
    </section>

    <!-- footer section -->
    <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; 2023 by SomyaNamdeo | All Rights Reserved.</p>
        </div>

        <div class="footer-iconTop">
            <a href="#home"><i class='bx bx-up-arrow-alt'></i></a>
        </div>
    </footer>

    
    <!-- scroll reveal  -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- typed js -->
    <script src="https://unpkg.com/typed.js@2.0.132/dist/typed.umd.js"></script>

    <!-- custom js -->
    
    <script src="{% static 'script.js' %}"></script>
</body>
</html>